@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Dark-Blue: #2b3945; /* (Dark Mode Elements) */
  --Very-Dark-Blue : #202c37; /* (Dark Mode Background) */
  --Very-Dark-Blue: #111517; /* 111517(Light Mode Text) */
  --Dark-Gray : hsl(0, 0%, 52%); /* (Light Mode Input) */
  --Very-Light-Gray : hsl(0, 6%, 90%); /* (Light Mode Background) */
  --White : hsl(0, 0%, 100%); /* (Dark Mode Text & Light Mode Elements) */
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--Very-Light-Gray);
  height: 100vh;
  width: 375px;
  margin: 0 auto;
}

.head {
  width: 375px;
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--White);
  height: 80px;
}

.head h1 {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--Very-Dark-Blue);
  font-size: 1rem;
  font-weight: 700;
  font-
}